/*font-family: 'Rubik', sans-serif;

font-family: 'Open Sans', sans-serif;*/


:root{
    --black: #000;
    --light-grey-blue: rgba(184, 184, 185, 0.1);
    --aqua: #14d9c4;
    --gunmetal: #54585a;
    --blue-green: #099d8d;
    --cool-grey: #b8b8b9;
    --white: #fff;
    --black-8: rgba(0, 0, 0, 0.08);
    font-size: 62.5%;
}

.header{
  background-image: url(../img/header-pretty.jpg);
  background-repeat: no-repeat;
  font-family: 'Rubik', medium;
  background-position: center;
  background-size: cover;
  height: 25vh;
}


.headerBase{
  background-color: #099d8d;
  display: flex; 
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  opacity: 70%;
  height: 60px;
  padding: 15px 80px;
}

.header2{
  background-color: #14d9c4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 70%;
  height: 45px;
}  

.header2 a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}


.footer{
  font-family:'Open Sans';
  font-size: 0.875rem;
  bottom: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.footer1{
  color: #b8b8b9;
  padding: 30px, 74px, 45px, 30px;
  width: 172px;
  height: 20px;
  text-align: center;
}

.footer2 {
  padding: 20px 103px 30px;
  text-align: center;

}

.footer2 a{
  text-decoration: none;
  color: #54585a;
}

.imagenlogo{
  padding: 30px 102px 45px;
  width: 115px;
  height: 45px;
}

.teamQuote h2 {
    background-color: white;
    padding: 14px;
    text-align: center;
    font-size: 1.8rem;
    position: relative;
    transform: translateY(-40px);
    margin: auto;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
  }
  
  .teamPresentation {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
  }
  .containerTeam {
    margin: 0 15px 30px 15px;
    display: flex;
    flex-direction: column;
  }

  .teamPresentation h2 {
    color: var(--aqua);
    text-transform: uppercase;
    font-size: 2.4rem;
  }
  .containerTeam p{
    color:var(--gunmetal);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    margin: 15px;
  }

@media (min-width:768px){
  .teamQuote h2 {
    background-color: var(--white);
    opacity: 0.8;
    text-align: left;
    transform: translate(-34px, -75px );
  }
  .containerQuote{
    position: absolute;
    margin-right: 281px;;
    margin-left: 46px;
  }
  .containerTeam {
    margin: 45px;   
  }
  .teamPresentation h2 {
    color: var(--blue-green);
  }
}

@media (min-width:1200px){
  .containerQuote{
    position: absolute;
    margin-right: 488px;
    margin-left: 138px;
    width: 574px;
    height: 90px;
  }
  .teamQuote h2 {
    background-color: white;
    opacity: 0.8;
    margin-left: 46px;
    margin-right: 281px;
    text-align: left;
    transform: translate(-34px, -75px );
  }
  .containerTeam{
    margin: 45px 299px 60px ;

  }
  .teamPresentation h2 {
    color: var(--blue-green);
  }
}