/*font-family: 'Rubik', sans-serif;

font-family: 'Open Sans', sans-serif;*/


:root{
    --black: #000;
    --light-grey-blue: rgba(184, 184, 185, 0.1);
    --aqua: #14d9c4;
    --gunmetal: #54585a;
    --blue-green: #099d8d;
    --cool-grey: #b8b8b9;
    --white: #fff;
    --black-8: rgba(0, 0, 0, 0.08);
    font-size: 62.5%;
}

.teamQuote h2 {
    background-color: white;
    padding: 14px;
    text-align: center;
    font-size: 1.8rem;
    position: relative;
    transform: translateY(-40px);
    margin: auto;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
  }
  
  .teamPresentation {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
  }
  .containerTeam {
    margin: 0 15px 30px 15px;
    display: flex;
    flex-direction: column;
  }

  .teamPresentation h2 {
    color: var(--aqua);
    text-transform: uppercase;
    font-size: 2.4rem;
  }
  .containerTeam p{
    color:var(--gunmetal);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    margin: 15px;
  }

@media (min-width:768px){
  .teamQuote h2 {
    background-color: var(--white);
    opacity: 0.8;
    text-align: left;
    transform: translate(-34px, -75px );
  }
  .containerQuote{
    position: absolute;
    margin-right: 281px;;
    margin-left: 46px;
  }
  .containerTeam {
    margin: 45px;   
  }
  .teamPresentation h2 {
    color: var(--blue-green);
  }
}

@media (min-width:1200px){
  .containerQuote{
    position: absolute;
    margin-right: 488px;
    margin-left: 138px;
    width: 574px;
    height: 90px;
  }
  .teamQuote h2 {
    background-color: white;
    opacity: 0.8;
    margin-left: 46px;
    margin-right: 281px;
    text-align: left;
    transform: translate(-34px, -75px );
  }
  .containerTeam{
    margin: 45px 299px 60px ;

  }
  .teamPresentation h2 {
    color: var(--blue-green);
  }
    
}