.who-title {
    color: #099d8d;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.who-figure {
    text-align: center;
}
.who-image {
    width: 180px;
    height: 180px;
    margin: 0 55px 15px;
    border-radius: 4px;
    border: solid 5px rgba(0, 0, 0, 0.08);
}
.who-name {
    font-weight: normal;
    text-align: center;
}

.who-description {
    text-align: center;
    margin: 20px;
    color: #54585a;
}

.who-icon {
    display: flex;
    gap: 15px;
    justify-content: center;
}