.titleWho {
  color: $colorBlueGreen;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Rubik', sans-serif;
  font-size: 2.4rem;
  padding-top: 45px;
}

.figureWho {
  text-align: center;
}
.imageWho {
  width: 180px;
  height: 180px;
  margin: 0 70px 15px;
  border-radius: 4px;
  border: solid 5px $colorBlack8;
}

.nameWho {
  font-weight: normal;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}

.descriptionWho {
  text-align: center;
  margin: 20px;
  color: $colorGunmetal;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}
.iconBoxWho {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.6rem;
  padding-bottom: 30px;
}

.iconWho {
  color: $colorBlueGreen;
  text-decoration: none;
}

.dotWho::after {
  content: '·';
  margin: 5px;
  padding: 5px;
}

@media (min-width: 768px) {
  .containerWho {
    display: flex;
    flex-direction: row;
  }
  .imageWho {
    width: 205px;
    height: 205px;
    margin: auto;
  }
  .figureWho {
    width: 257px;
  }

  .figureLeftWho {
    padding-left: 44px;
  }
  .figureRigthWho {
    padding-right: 44px;
  }
  .reverseWho {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
  }
  .boxDescriptionWhoLeft {
    margin-right: 44px;
    margin-left: 31px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .descriptionLeftWho {
    width: 443px;
    text-align: start;
    margin: 0;
  }
  .boxDescriptionWhoRight {
    margin-right: 44px;
    margin-left: 31px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
  }
  .descriptionRightWho {
    width: 443px;
    text-align: end;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .containerWho {
    margin-left: 138px;
    margin-right: 138px;
  }
  .imageWho {
    width: 278px;
    height: 278px;
    margin: auto;
  }  
  .figureLeftWho {
    padding-left: 0;
    border-radius: 5px solid $colorCoolGrey;
  }
  .boxDescriptionWhoLeft{
    margin-right: 300px;
    margin-left: 45px;
  }
  .descriptionWho{
    width: 440px;
  
  }
  .boxDescriptionWhoRight{
    margin-left:300px;
    margin-right: 45px;
  }
}