.contact {
  padding-top: 45px;
  text-align: center;
  h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 2.4rem;
    color: $colorBlueGreen;
    text-transform: uppercase;
  }
  h3 {
    font-family: 'Open Sans', sans-serif;
    color: $colorGunmetal;
    font-size: 1.6rem;
    padding-top: 15px;
    margin: 0 15px;
    @media (min-width: 768px) {
      margin: 0 163px;
    }
    @media (min-width: 1200px) {
      margin: 0 300px;
    }
  }
  p {
    font-family: 'Open Sans', sans-serif;
    color: $colorGunmetal;
    font-size: 1.2rem;
    padding-top: 20px;
    span {
      color: $colorAqua;
    }
  }
}

.form {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: $colorGunmetal;
  margin: 58px 15px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    margin: 58px 163px 60px 163px;
    display: grid;
    grid-template-areas: 'nameForm nameForm nameForm' 'mailForm mailForm mailForm' 'phoneForm phoneForm phoneForm' 'messageForm messageForm messageForm' '. . button';

    &__nameForm {
      grid-area: nameForm;
    }
    &__mailForm {
      grid-area: mailForm;
    }
    &__phoneForm {
      grid-area: phoneForm;
    }
    &__messageForm {
      grid-area: messageForm;
    }
    &__button{
        grid-column: 3/4;
               
    }

  }
  @media (min-width: 1200px) {
    margin: 0 300px 120px 300px;
   
    grid-template-areas: 'nameForm nameForm nameForm' 'mailForm mailForm phoneForm' 'messageForm messageForm messageForm' '. . button';
    column-gap: 45px;
  }
  &__button {
    text-align: center;
    border: none;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    background-color: $colorBlueGreen;
    color: $colorWhite;
    text-transform: uppercase;
    @media (min-width: 1200px) {
      grid-area: button;
      grid-column: 3/4;
    }
  }
}
div {
  display: flex;
  flex-direction: column;
  gap: 7px;
  span {
    color: $colorAqua;
  }
  input {
    padding: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    border: 1px solid $colorCoolGrey;
  }
  textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    padding: 7px;
    border: 1px solid $colorCoolGrey;
  }
}
