.header {
  background-image: url(/images/header-pretty.jpg);
  background-repeat: no-repeat;
  font-family: 'Rubik', medium;
  background-position: center;
  background-size: cover;
  height: 421px;
  &__navegation{
    font-family: 'Rubik', sans-serif; 
    display: flex;
    flex-direction: column;
    opacity: 70%;
    width: 100vw;
    position: fixed;
    top:0;
    z-index: 100;
    @media (min-width: 768px){
      flex-direction: row;
      justify-content: space-between;
      background-color: $colorBlueGreen;
      height: 60px;
    }
    & h1{
      background-color: $colorBlueGreen;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $colorWhite;
      font-size: 1.6rem;
      height: 60px;
      text-transform: uppercase;
      @media (min-width: 768px){
        padding-left: 45px;
      }
      @media (min-width: 1200px){
        padding-left: 142px;
      }
    }
  }
}


.header2 {
  background-color: $colorAqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 45px;
  text-transform: uppercase;
  @media (min-width:768px){
    background-color: $colorBlueGreen;
  }
  @media (min-width: 1200px){
    background-color: $colorBlueGreen;
    padding-right: 138px;
  }
  
  & a{
    text-decoration: none;
    color: $colorWhite;
    font-size: 1.5rem;
  }
}

@media (min-width: 768px){
  .header2 nav{
    background-color:  $colorBlueGreen;
    justify-content: end;
    gap: 19px;
    padding-right: 45px;
    padding-top: 16px;
  }
}

.contactHeader{
  background-image: url(/images/programacion.jpg);
  background-repeat: no-repeat;
  font-family: 'Rubik', medium;
  background-position: center;
  background-size: cover;
  height: 421px;
}