<section>
  <h2 id="About-us" class="titleWho">Quienes somos</h2>

  <div class="containerWho">
    <figure class="figureWho figureLeftWho">
      <img
        class="imageWho"
        src="https://img.freepik.com/foto-gratis/retrato-hermoso-mujer-joven-posicion-pared-gris_231208-10760.jpg"
        alt="Foto chica1"
      />
    </figure>
    <div class="boxDescriptionWho">
      <h3 class="nameWho nameLeftWho">Nombre</h3>
      <p class="descriptionWho descriptionLeftWho">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo temporibus
        consequuntur in recusandae facere voluptatum dicta nobis quia
        praesentium iste earum, maiores, nam a blanditiis omnis nisi pariatur
        consectetur ipsam!
      </p>
      <div class="iconBoxWho iconBoxLeftWho">
        <a class="iconWho dotWho" href=""
          ><i class="fa-brands fa-x-twitter"></i
        ></a>

        <a class="iconWho dotWho" href=""
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>

        <a class="iconWho dotWho" href="">
          <i class="fa-brands fa-github-alt"></i
        ></a>

        <a class="iconWho" href=""> <i class="fa-solid fa-envelope"></i></a>
      </div>
    </div>
  </div>

  <div class="containerWho reverseWho">
    <figure class="figureWho figureRigthWho">
      <img
        class="imageWho"
        src="https://img.freepik.com/foto-gratis/retrato-hermoso-mujer-joven-posicion-pared-gris_231208-10760.jpg"
        alt="Foto chica2"
      />
    </figure>
    <div class="boxDescriptionWho">
      <h3 class="nameWho namerightWho">Nombre</h3>
      <p class="descriptionWho descriptionRightWho">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo temporibus
        consequuntur in recusandae facere voluptatum dicta nobis quia
        praesentium iste earum, maiores, nam a blanditiis omnis nisi pariatur
        consectetur ipsam!
      </p>
      <div class="iconBoxWho iconBoxRightWho">
        <a class="iconWho dotWho" href=""
          ><i class="fa-brands fa-x-twitter"></i
        ></a>

        <a class="iconWho dotWho" href=""
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>

        <a class="iconWho dotWho" href="">
          <i class="fa-brands fa-github-alt"></i
        ></a>

        <a class="iconWho" href=""> <i class="fa-solid fa-envelope"></i></a>
      </div>
    </div>
  </div>
</section>
