<div class="containerWho">
<figure class="figureWho figureLeftWho">
    <img
      class="imageWho"
      src="{=$img}" alt="{=$altImg}"/>
  </figure>
  <div class="boxDescriptionWhoLeft">
    <h3 class="nameWho nameLeftWho">{=$name}</h3>
    <p class="descriptionWho descriptionLeftWho">
      {=$desc}
    </p>
    <div class="iconBoxWho iconBoxLeftWho">
      <a class="iconWho dotWho" href="{=$linkLinkedin}"
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>
      <a class="iconWho dotWho" href="{=$linkGithub}">
        <i class="fa-brands fa-github-alt"></i
      ></a>
      <a class="iconWho" href="{=$linkMail}"> <i class="fa-solid fa-envelope"></i></a>
    </div>
  </div>
</div>
