<div class="rectangle"></div>
      <div class="s_and_w_container">
        <div class="s_and_w_greyBox">
          <h3 class="s_and_w_titles">Fortalezas</h3>
          <p class="s_and_w_text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
            voluptatum modi aliquid dolorum tempore ab quam vel amet sapiente.
            Odio ratione aspernatur, at in nostrum inventore. Sint maxime
            dolorum deleniti.Sed voluptatum modi aliquid dolorum tempore ab quam
            vel amet sapiente. Odio ratione aspernatur, at in nostrum inventore.
            Sint maxime dolorum deleniti.
          </p>
        </div>
        <div class="s_and_w_greyBox">
          <h3 class="s_and_w_titles">Debilidades</h3>
          <p class="s_and_w_text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed
            voluptatum modi aliquid dolorum tempore ab quam vel amet sapiente.
            Odio ratione aspernatur, at in nostrum inventore. Sint maxime
            dolorum deleniti.Sed voluptatum modi aliquid dolorum tempore ab quam
            vel amet sapiente. Odio ratione aspernatur, at in nostrum inventore.
            Sint maxime dolorum deleniti.
          </p>
        </div>
      </div>