<div class="rectangleWeakness"></div>

      <div class="containerWeakness">
        <div class="greyBoxWeakness">
          <h3 class="titlesWeakness">Fortalezas</h3>
          <p class="textWeakness">
            Con una combinación única de valentía, inteligencia y fuerza, estas profesionales demuestran una determinación férrea para superar cualquier desafío. Su capacidad colectiva para innovar y resolver problemas destaca, mientras que su valentía las impulsa a explorar nuevos horizontes laborales con confianza. Unidos por una visión compartida y la voluntad de triunfar, este equipo de mujeres fuertes promete liderar con ejemplaridad en su emocionante jornada laboral.
          </p>
        </div>
        <div class="greyBoxWeakness">
          <h3 class="titlesWeakness">Debilidades</h3>
          <p class="textWeakness">
            A pesar de ser un grupo de cinco mujeres estudiantes y trabajadoras iniciando una nueva etapa laboral, su principal debilidad radica en la inexperiencia directa. No obstante, su entusiasmo por aprender y enfrentar desafíos las convierte en un equipo resiliente y adaptable. La diversidad de habilidades podría requerir ajustes iniciales, pero están decididas a convertir cualquier obstáculo en una oportunidad de crecimiento colectivo.
          </p>
        </div>
      </div>